@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid px-3 py-2">
    <div class="row g-3">
        <div class="col-lg-4">
            <partial name="_ManageNav" />
        </div>
        <div class="col-lg-8">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
} 